<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <h2>
    <% checked = task.completed ? 'checked' : '' %>

    <input type="checkbox" <%= checked %> ><%= link_to task.title, task_path(task) %>
  </h2>
<% end %>

<%= link_to "Add a new task", new_task_path %>
